/* .footer{
    height: 400px;
    width: 100%;
    
    
}
.div1 {
    display: flex;
    background-color: #545871;
}
.div1> div {
margin-left: 20px;
}
.div2{
    display: flex;
    
    background-color: #545871;
    color: white;
    cursor: pointer;
}
.div2 > div{
    margin: 10px;
    
}
.div3{
    text-align: start;
    margin-left: 20px;
    cursor: pointer;
    color: black;
    
}
.div3 :hover{
    color: yellowgreen;
}
.div4{
    display: flex;
    margin-left: 30%;
    margin-top: 10px;
}
.state1{
    font-size: 20px;
    margin-top: 5px;
}
img{
    height: 100px;


}
.div4 > div {
text-align: center;

}
input{
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
    margin-left: 50px;
    width: 20%;
    
} */